* {
    font-family: "Noto Sans TC", sans-serif;
}

#starmap {
     min-height: 100%;

}



html,
body {
    height: 100%;
    margin: 0;
}



#gestureguide, #move, #ufo{
    filter: invert(25%);
    position: absolute;
    width: 50%;
    height: auto;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5%;
}
#move {
    filter: invert(100%);
    width: 50%;
}

#ufo {
    margin-bottom: 2rem;
    width: 3%;
    display: none;
}
